<web-app>
<servlet>
<servlet-name>login</servlet-name>
<servlet-class>login</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>login</servlet-name>
<servlet-url>/servlet1</servlet-url>
</servlet-mapping>

<servlet>
<servlet-name>welcomeservlet</servlet-name>
<servlet-class>welcomeservlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>welcomeservlet</servlet-name>
<servlet-url>/servlet2</servlet-url>
</servlet-mapping>

<welcome-file-list>
<welcome-file>index.html</welcome-file>
</welcome-file-list>


</web-app>