<web-app>
<servlet>
<servlet-name>demoservlet1</servlet-name>
<servlet-class>DemoServlet</servlet-class>
</servlet>

<init-param>
<param-name>driver</param-name>
<param-value>sun.jdbc.JdbcOdbcDriver</param-value>

<param-name>driver2</param-name>
<param-value>sun.jdbc.JdbcOdbcDriver</param-value>

</init-param>


<servlet-mapping>
<servlet-name>demoservlet1</servlet-name>
<url-pattern>/servlet1</url-pattern>
</servlet-mapping>


</web-app>