<web-app>
<servlet>
<servlet-name>myfilter1</servlet-name>
<servlet-class>MyFilter</servlet-class>

</servlet>

<servlet-mapping>
<servlet-name>myfilter1</servlet-name>
<url-pattern>myfilter1</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>myfilter11</servlet-name>
<servlet-class>MyFilter1</servlet-class>

</servlet>

<servlet-mapping>
<servlet-name>myfilter11</servlet-name>
<url-pattern>myfilter11</url-pattern>
</servlet-mapping>

<welcome-file-list>
<welcome-file>index.html</welcome-file>

</welcome-file-list>


</web-app>